<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_custom_duo.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/duo_cam0.yaml"/>
  <param name="camera1_config" value="$(find rovio)/cfg/duo_cam1.yaml"/>
  <param name="rosbag_filename" value="/media/anurag/DATA-EXT/kinect-data/ITM_relocalization/new/relocaTest_2017-08-21-18-02-43_S1.bag"/>
  <param name="filename_out" value="/media/anurag/DATA-EXT/kinect-data/ITM_relocalization/new/relocaTest_2017-08-21-18-02-43_S1_rovio"/>
  <param name="imu_topic_name" value="/duo3d/imu/data_raw"/>
  <param name="cam0_topic_name" value="/duo3d/left/image_raw"/>
  <param name="cam1_topic_name" value="/duo3d/right/image_raw"/>
  </node>
</launch>
